decomposeDividers/Service References/WebServiceDividers/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InputValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InputValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InputValueResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListDividers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListDividersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListDividersResult" type="tns:ArrayOfDecimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDecimal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="decimal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListPrime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListPrimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListPrimeResult" type="tns:ArrayOfDecimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InputValueSoapIn">
    <wsdl:part name="parameters" element="tns:InputValue" />
  </wsdl:message>
  <wsdl:message name="InputValueSoapOut">
    <wsdl:part name="parameters" element="tns:InputValueResponse" />
  </wsdl:message>
  <wsdl:message name="ListDividersSoapIn">
    <wsdl:part name="parameters" element="tns:ListDividers" />
  </wsdl:message>
  <wsdl:message name="ListDividersSoapOut">
    <wsdl:part name="parameters" element="tns:ListDividersResponse" />
  </wsdl:message>
  <wsdl:message name="ListPrimeSoapIn">
    <wsdl:part name="parameters" element="tns:ListPrime" />
  </wsdl:message>
  <wsdl:message name="ListPrimeSoapOut">
    <wsdl:part name="parameters" element="tns:ListPrimeResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="InputValue">
      <wsdl:input message="tns:InputValueSoapIn" />
      <wsdl:output message="tns:InputValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListDividers">
      <wsdl:input message="tns:ListDividersSoapIn" />
      <wsdl:output message="tns:ListDividersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListPrime">
      <wsdl:input message="tns:ListPrimeSoapIn" />
      <wsdl:output message="tns:ListPrimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InputValue">
      <soap:operation soapAction="http://tempuri.org/InputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDividers">
      <soap:operation soapAction="http://tempuri.org/ListDividers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPrime">
      <soap:operation soapAction="http://tempuri.org/ListPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InputValue">
      <soap12:operation soapAction="http://tempuri.org/InputValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListDividers">
      <soap12:operation soapAction="http://tempuri.org/ListDividers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPrime">
      <soap12:operation soapAction="http://tempuri.org/ListPrime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:54457/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:54457/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>